fastapi
uvicorn
python-dotenv
psycopg2-binary
pandas
matplotlib
seaborn
langchain
langgraph
langchain-community
langchain-core
langchain-groq
chromadb
langchain-chroma
pytest
httpx
langchain-huggingface
